<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sagunto Kids</title>
    <link rel="stylesheet" th:href="@{/css/general.css}" />
    <link rel="stylesheet" th:href="@{/css/especifico_matricula.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa" />
</head>

<body>
    <main>
        <p>TU SOLICITUD DE MATRICULA HA SIDO ENVIADA</p>
        <div class="centrar">
            <p>Recibirás un email con la aceptación al curso en un plazo de 48 horas.</p>
            <a th:href="@{/infAct}"><button>Volver</button></a>
        </div>
    </main>
</body>

</html>