<!DOCTYPE html>
<html lang="es">
<head th:replace="~{base :: head_legal}"></head>

<body>
    <header th:replace="~{base :: header}"></header>
    <nav th:replace="~{base :: nav}"></nav>

        <main>
            <hr>
            <h3>PREGUNTAS FRECUENTES</h3>
            <hr>
            <div>
                <section>
                    <div>

                    <h5>¿QUÉ OCURRE SI TENGO MÁS DE UN HIJO?</h5><img th:src="@{imgs/desple.png}" alt="desplegable" />
                        </div>

                        <hr>
                    <p>Nuestra plataforma está diseñada para poder añadir cuántos perfiles como desees. Cada perfil corresponde a un
                        hijo (o familiar). En el perfil de niño puedes indicar el horario y las preferencias de búscqueda para dicho
                        usuario. Así aparte de tener varios perfiles creados con sus preferencias podrás navegar en la web ordenando
                        por
                        cada uno de ellos. De forma que te sea más fácil y rápido encontrar la actividad deseada.</p>
                </section>
                <section>
                    <div>

                    <h5>ESTOY DIVORCIADO/A, ¿PODEMOS ACCEDER LOS DOS A LA PLATFORMA?</h5><img th:src="@{imgs/desple.png}" alt="desplegable" />
                        </div>

                        <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim lacus sapien, sit amet facilisis orci
                        dictum pulvinar. Praesent malesuada, felis et maximus tempor, sem nisl vestibulum arcu, id euismod risus dui
                        consequat purus. Vestibulum semper, elit nec scelerisque sagittis, urna orci laoreet eros, vitae finibus enim
                        enim eu massa. Maecenas quam magna, congue sit amet molestie nec, condimentum et velit. Sed eget ligula in leo
                        congue aliquam. Morbi cursus dui mi, non molestie elit vehicula id. Duis in varius mauris, id commodo nibh.
                    </p>
                </section>
                <section>
                    <div>
                    <h5>¿PUEDO AÑADIR A UN SOBRINO?</h5><img th:src="@{imgs/desple.png}" alt="desplegable" /></div>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim lacus sapien, sit amet facilisis orci
                        dictum pulvinar. Praesent malesuada, felis et maximus tempor, sem nisl vestibulum arcu, id euismod risus dui
                        consequat purus. Vestibulum semper, elit nec scelerisque sagittis, urna orci laoreet eros, vitae finibus enim
                        enim eu massa. Maecenas quam magna, congue sit amet molestie nec, condimentum et velit. Sed eget ligula in leo
                        congue aliquam. Morbi cursus dui mi, non molestie elit vehicula id. Duis in varius mauris, id commodo nibh.
                    </p>
                </section>
                <section>
                    <div>
                    <h5>¿CÓMO PUEDO SABER SI HE MATRICULADO A MI HIJO/A CORRECTAMENTE?</h5><img th:src="@{imgs/desple.png}" alt="desplegable" /></div>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim lacus sapien, sit amet facilisis orci
                        dictum pulvinar. Praesent malesuada, felis et maximus tempor, sem nisl vestibulum arcu, id euismod risus dui
                        consequat purus. Vestibulum semper, elit nec scelerisque sagittis, urna orci laoreet eros, vitae finibus enim
                        enim eu massa. Maecenas quam magna, congue sit amet molestie nec, condimentum et velit. Sed eget ligula in leo
                        congue aliquam. Morbi cursus dui mi, non molestie elit vehicula id. Duis in varius mauris, id commodo nibh.
                    </p>
                </section>
                <section>
                    <div>
                    <h5>¿CÓMO DAR DE BAJA DE UN CURSO?</h5><img th:src="@{imgs/desple.png}" alt="desplegable" /></div>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim lacus sapien, sit amet facilisis orci
                        dictum pulvinar. Praesent malesuada, felis et maximus tempor, sem nisl vestibulum arcu, id euismod risus dui
                        consequat purus. Vestibulum semper, elit nec scelerisque sagittis, urna orci laoreet eros, vitae finibus enim
                        enim eu massa. Maecenas quam magna, congue sit amet molestie nec, condimentum et velit. Sed eget ligula in leo
                        congue aliquam. Morbi cursus dui mi, non molestie elit vehicula id. Duis in varius mauris, id commodo nibh.
                    </p>
                </section>
                <section>
                    <div>
                    <h5>QUIERO CAMBIAR A MI HIJO/A DE DÍAS</h5><img th:src="@{imgs/desple.png}" alt="desplegable" /></div>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim lacus sapien, sit amet facilisis orci
                        dictum pulvinar. Praesent malesuada, felis et maximus tempor, sem nisl vestibulum arcu, id euismod risus dui
                        consequat purus. Vestibulum semper, elit nec scelerisque sagittis, urna orci laoreet eros, vitae finibus enim
                        enim eu massa. Maecenas quam magna, congue sit amet molestie nec, condimentum et velit. Sed eget ligula in leo
                        congue aliquam. Morbi cursus dui mi, non molestie elit vehicula id. Duis in varius mauris, id commodo nibh.
                    </p>
                </section>
            </div>

        <a th:href="@{/paginaPrincipal}">Volver</a>
    </main>

    <footer th:replace="~{base :: footer}"></footer>

    <script th:src="@{/js/nav.js}"></script>
        <script th:src="@{/JavaScript/Jquery.js}"></script>

</body>

</html>