<!DOCTYPE html>
<html lang="es">

<head th:replace="~{base :: head_legal}"></head>

<body>
    <header th:replace="~{base :: header}"></header>
    <nav th:replace="~{base :: nav}"></nav>

    <main>
        <hr>
        <h3>FORMA DE PAGO</h3>
        <hr>
        <section>
            <div>
                <h5>PRIMERA MATRICULACIÓN</h5><img th:src="@{/imgs/desple.png}" alt="desplegable" />
            </div>

            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim lacus sapien, sit amet facilisis orci
                dictum pulvinar. Praesent malesuada, felis et maximus tempor, sem nisl vestibulum arcu, id euismod risus dui
                consequat purus. Vestibulum semper, elit nec scelerisque sagittis, urna orci laoreet eros, vitae finibus enim
                enim eu massa. Maecenas quam magna, congue sit amet molestie nec, condimentum et velit. Sed eget ligula in leo
                congue aliquam. Morbi cursus dui mi, non molestie elit vehicula id. Duis in varius mauris, id commodo nibh.</p>
        </section>
        <section>
            <div>
            <h5>CUOTA MENSUAL</h5><img th:src="@{/imgs/desple.png}" alt="desplegable" /></div>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim lacus sapien, sit amet facilisis orci
                dictum pulvinar. Praesent malesuada, felis et maximus tempor, sem nisl vestibulum arcu, id euismod risus dui
                consequat purus. Vestibulum semper, elit nec scelerisque sagittis, urna orci laoreet eros, vitae finibus enim
                enim eu massa. Maecenas quam magna, congue sit amet molestie nec, condimentum et velit. Sed eget ligula in leo
                congue aliquam. Morbi cursus dui mi, non molestie elit vehicula id. Duis in varius mauris, id commodo nibh.</p>
        </section>
        <section>
            <div>

            <h5>RENOVACIÓN DE UN CURSO CURSO</h5><img th:src="@{/imgs/desple.png}" alt="desplegable" />
                </div>

                <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim lacus sapien, sit amet facilisis orci
                dictum pulvinar. Praesent malesuada, felis et maximus tempor, sem nisl vestibulum arcu, id euismod risus dui
                consequat purus. Vestibulum semper, elit nec scelerisque sagittis, urna orci laoreet eros, vitae finibus enim
                enim eu massa. Maecenas quam magna, congue sit amet molestie nec, condimentum et velit. Sed eget ligula in leo
                congue aliquam. Morbi cursus dui mi, non molestie elit vehicula id. Duis in varius mauris, id commodo nibh.</p>
        </section>


    <a th:href="@{/paginaPrincipal}">Volver</a>
    </main>
    <footer th:replace="~{base :: footer}"></footer>
    <script th:src="@{/js/nav.js}"></script>
        <script th:src="@{/JavaScript/Jquery.js}"></script>

</body>

</html>