<!DOCTYPE html>
<html lang="es">

<head th:replace="~{base :: head_legal}"></head>

<body>
    <header th:replace="~{base :: header}"></header>
    <nav th:replace="~{base :: nav}"></nav>

    <main>
        <h3>PROTECCIÓN DE DATOS</h3>

        <p>Este sitio Web (en adelante, el “Sitio Web") está gestionado por Sagunto Kids LLC, con sede en Avenida de
            Octubre 23, 46520, Puerto de Sagunto, Valencia.
            Sagunto Kids ofrece esta Política de Privacidad porque valoramos su derecho a la intimidad. La misma
            comenzará a surtir efecto el 6 de agosto de 2007, y regula la recopilación y el uso de información personal
            a través de este Sitio Web a partir de esta fecha.
            Esta Política describe los tipos de información que Sagunto Kids recopila de sus usuarios y la forma en que
            dicha información es usada. Lea atentamente esta Política antes de facilitarnos cualquier información
            personal. Al usar este Sitio Web, usted acepta que Sagunto Kids utilice su información personal de acuerdo
            con esta Política. Si no está de acuerdo con los términos de la misma, por favor no utilice este Sitio Web.
            Si tiene alguna pregunta sobre esta Política, puede enviarnos un e-mail a privacidad@saguntokids.es.
            Información que recopilamos.</p>
        <br>

        <p>1. Usuarios no registrados</p>
        <p>
            Le animamos a que se registre con nosotros para poder beneficiarse de las muchas facilidades de
            personalización de Sagunto Kids. Sin embargo, también puede que no desee registrarse y sí beneficiarse de
            las facilidades de nuestro Sitio Web que no requieren que se registre con antelación.
            Si no se registra, la información que recopilamos sobre usted es limitada. Registramos su dirección IP para
            poder detectar posibles problemas con nuestro servidor, administrar nuestro Sitio Web y localizar
            estadísticas de uso. Su dirección IP puede variar cada vez que visite el Sitio Web o puede que siga siendo
            la misma, dependiendo de si accede a nuestro Sitio Web a través de una conexión permanente de Internet (como
            por ejemplo, módem de cable o DSL), o mediante una conexión de marcado o “dial-up” (como AOL o Earthlink).
            De cualquier forma, sería extremadamente difícil para nosotros identificarle mediante su dirección IP, y
            tampoco lo intentaremos. Si ha llegado a nuestro Sitio Web haciendo clic en un enlace o anuncio de otro
            sitio web, entonces también recopilaremos esa información. Esto nos ayuda a maximizar nuestra difusión en
            Internet y a comprender lo que interesa a nuestros usuarios. Toda esta información se recopila y se utiliza
            solamente en su conjunto; es decir, se introduce en nuestra base de datos, donde la podemos usar para
            generar informes globales sobre nuestros visitantes, pero no informes sobre visitantes individuales...</p>
        <a th:href="@{/paginaPrincipal}">Volver</a>
    </main>
    <footer th:replace="~{base :: footer}"></footer>
    <script th:src="@{/js/nav.js}"></script>

</body>

</html>