<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" th:href="@{css/general.css}">
    <link rel="stylesheet" th:href="@{css/terminos.css}">
    <title>Terminos y condiciones</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa">
</head>

<body>
    <header th:replace="~{base :: header}"></header>
    <nav th:replace="~{base :: nav}"></nav>

    <main>
        <!-- Titulo naranja 2P -->
        <section>
            <hr>
            <h2>REGISTRO USUARIO</h2>
            <hr>
        </section>

        <section id="texto">
            <p>
                Datos de identificación: Se debe identificar al titular de la página web, incluyendo todos sus datos
                identificativos y de contacto, tanto si es persona física como jurídica. Especifica, además, que los
                términos y condiciones son el acuerdo legal que rige tu web y que los usuarios aceptan al utilizarla. En
                cuanto a los datos, como mínimo deben aparecer estos:
            </p>
            <p>
                Nombre legal de la empresa.
            </p>
            <p>
                NIF.
            </p>
            <p>
                Dirección.
            </p>
            <p>
                Teléfono.
            </p>
            <p>
                Correo electrónico.
            </p>
            <p>
                Fecha de efecto: Especifica la fecha de entrada en vigor de los términos y condiciones y la última fecha
                en la que fueron actualizados. Así mismo, incluye una cláusula en la que expliques tu derecho a
                modificar estos términos y condiciones en el futuro y cómo informarás de estos cambios a los usuarios o
                consumidores, así como el plazo de aviso antes de la entrada en vigor de los cambios.
            </p>
            <p>
                Privacidad: Debes incluir una cláusula en la que informes a tus usuarios sobre la política de privacidad
                de tu página web (puede ser un resumen de dicha política, incluyendo un enlace a la misma).
            </p>
            <p>
                Idioma del contrato: Determina en qué idioma o idiomas se pueden formalizar los contratos (en su caso).
            </p>
            <p>
                Condiciones de uso: Esta cláusula (que pueden ser varias) debe contener todo lo relativo a cómo pueden
                hacer uso de tu página web y sus contenidos los usuarios. Debes especificar los requisitos de edad,
                posibles restricciones geográficas, las normas de conducta, los límites, las acciones no permitidas, los
                contenidos no permitidos, etc. Algunos ejemplos de lo que se suele incluir:
            </p>
            <p>
                Publicar contenido ofensivo, discriminatorio, amenazador u obsceno.
            </p>
            <p>
                Hacer spam.
            </p>
            <p>
                Hacer scraping.
            </p>
            <p>
                Eliminar o alterar el aviso de derechos de autor, la marca comercial o cualquier otro aviso de propiedad
                intelectual.
            </p>
            <p>
                Propiedad intelectual: Es recomendable indicar la titularidad de los diferentes elementos de la web,
                como el logo, los contenidos, las imágenes, etc., así como de los productos o servicios que se puedan
                comercializar en ella y el uso que se permite de los mismos (por ejemplo, en cuántos dispositivos se
                puede instalar una misma licencia de software). Si se trata de una web colaborativa, en la que otros
                usuarios suben y comparten contenidos propios, aquí también debes especificar qué derechos mantienen y/o
                te ceden sobre sus contenidos y la posibilidad de eliminar contenido que infrinja los derechos de
                terceros.
            </p>
            <p>
                Condiciones de pago y precios: Debes dejar claramente redactadas las condiciones de pago, así como los
                precios y tarifas de tus productos o servicios, incluyen los precios sin y con impuesto y el impuesto
                aplicable. Así mismo, aquí debes especificar qué ocurre en caso de que haya un error o discrepancia en
                los precios.
            </p>
            <p>
                Proceso de compra o contratación: Explica y detalla cómo se efectúa todo el proceso de compra o
                contratación en tu web:
            </p>
            <p>
                Elección del producto o servicio.
            </p>
            <p>
                Aceptar los términos y condiciones de venta o contratación.
            </p>
            <p>
                Tramitar la compra.
            </p>
            <p>
                Realizar el pago.
            </p>
            <p>
                Informar de que se enviará un correo electrónico de confirmación del pedido.
            </p>
            <p>
                Métodos de pago y envío: Describe los métodos de pago admitidos en tu página web. Detalla cómo es el
                proceso de envío de los productos (empresas de transporte, condiciones, límites, etc.), incluidos plazos
                de entrega y precios. Recuerda que si no especificas un plazo de entrega, la ley establece que este no
                podrá ser superior a 30 días naturales a contar desde la confirmación del pedido.
            </p>
            <p>
                Duración del contrato: En caso de que comercialices servicios de suscripción o licencias, debes
                especificar la duración del servicio, las condiciones de la licencia, las tarifas y el método de
                renovación.
            </p>
            <p>
                Política de cambios y devoluciones: Explica qué deben hacer los clientes para devolver un producto con
                el que no están conformes o en mal estado, o cómo cancelar una suscripción. Así mismo, explica cómo
                gestionas las devoluciones y reembolsos.
            </p>
            <p>
                Derecho de desistimiento: Especifica que los usuarios o clientes pueden ejercer su derecho de
                desistimiento en el plazo de 14 días naturales tras la recepción del producto o la suscripción al
                servicio. Este derecho implica que se puede renunciar al producto o servicio sin alegar razón alguna,
                sin coste adicional y recuperando todo el dinero. No incluir esta mención en los términos y condiciones,
                implica que el plazo para ejercer este derecho es de 12 meses.
            </p>
            <p>
                Garantías: En su caso, incluye una cláusula sobre las garantías que tienen los productos que
                comercializas.
            </p>
            <p>
                Servicio posventa y/o soporte técnico: Explica cuándo, cómo y dónde contactar con el servicio posventa
                y/o soporte técnico, si los usuarios tienen problemas con sus productos o con el servicio que les
                provees.
            </p>
            <p>
                Accesibilidad: Específica cómo enviarás el justificante de compra y cómo acceder a la factura.
            </p>
            <p>
                Correcciones: Explica cómo y dónde pueden corregir los usuarios cualquier error que hayan cometido al
                introducir sus datos.
            </p>
            <p>
                Responsabilidades: Informa claramente sobre las responsabilidades y los descargos de responsabilidad que
                como titular de la web asumes.
            </p>
            <p>
                Enlaces a terceros: Indica que no eres responsable de los sitios web de terceros que enlazas desde tu
                web.
            </p>
            <p>
                Legislación aplicable y resolución de litigios: Específica qué leyes son de aplicación y en las que has
                basado los términos y condiciones. Así mismo, incluye una cláusula sobre el sistema para la resolución
                de conflictos, tanto arbitrales como qué tribunal es competente para resolver cualquier controversia.
            </p>
            <p>
                Derecho a realizar cambios: Incluye una cláusula en la que especifiques que te reservas el derecho a
                hacer cambios en tu web.
            </p>
            <p>
                Otras cláusulas: Dependiendo de la actividad de tu web, tus productos o servicios, puedes incluir otras
                cláusulas sobre ofertas y promociones, requisitos técnicos para usar un producto, sobre afiliados, etc.
            </p>

            <a th:href="@{/registroUsu}"><button>CERRAR</button></a>
        </section>
    </main>
    <footer th:replace="~{base :: footer}"></footer>
    <script th:src="@{/js/nav.js}"></script>
    <script th:src="@{/JavaScript/Jquery.js}"></script>
</body>

</html>